header {
  position: relative;
}
header h1 {
  font-size: 60px;
  display: flex;
  width: 60%;
}
.search-input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 20px;
  backdrop-filter: blur(3.1px);
  background: rgba(255, 255, 255, 0.07);

  color: #fff;
  font-size: 20px;
  border: 1px #fff solid;
  outline: none;
  margin-bottom: 2rem;
}
.search-input:focus {
  box-shadow: 1px 7px 31px -3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 7px 31px -3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 7px 31px -3px rgba(255, 255, 255, 0.75);
}
.containerCards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {

  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.27);
  transition: 0.2s all;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  backdrop-filter: blur(3.1px);
 cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.22);
  text-transform: uppercase;
}
button:hover{
  transform: scale(1.03);
}
