@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
body {
  height: 100vh;

  max-width: 70rem; 
  place-content: center;
  margin: auto;
  background: url("src/IMG/ChatGPT Image 4 sept 2025, 21_49_11.png");
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
  font-family: Space Grotesk, Space Grotesk Fallback;
}
