@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
body {
  height: 100vh;
  max-width: 70rem;
  place-content: center;
  margin: auto;
  background: #121212;
  color: #fff;
  font-family: Space Grotesk, Space Grotesk Fallback;
}
.glow {
  position: fixed;

  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 30%;
  display: block;
  background: radial-gradient(#064625aa 20%, #7ec97655);
  transform: translate(-50%, -50%);
  background-attachment: fixed;
  filter: blur(100px);
  z-index: -1;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgb(12, 12, 12);
}

::-webkit-scrollbar-thumb {
  background: darkgray;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  color: #ffffff73;
  font-size: 0.9rem;
  background: transparent;
  width: 100%;
  place-items: end;
}
.img-footer {
  position: relative;
}
.img-footer img {
  width: 50px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
}


.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top-color: #00c6ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}