.login-page {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.access-focus-card {
  position: relative;
  z-index: 10;
  background:#ffffff1a;
  backdrop-filter: blur(10px);
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  max-width: 450px;
  width: 90%;
  animation: fade-in 1s ease-out;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 5px;
}


.brand-watermark {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  font-size: 8em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  white-space: nowrap;
  z-index: -1;
}
.login-btn {
  width: max-content;
  background: transparent;
  border: 2px solid #0ff;
  color: #0ff;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  box-shadow: 0 0 10px #0ff, inset 0 0 10px #0ff;

  &&:hover{
    background: #0ff;
    color: #121212;
  }
}
